/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap');


/*------------------
    base code
----------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 870px;
  background-color: var(--backgroundColor);
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}

.playersGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

h1,
h2,
h3,
h4 {
  color: var(--primaryColor);
}

/* ----------
root
------------ */
:root {
  --backgroundColor: #111010e1;
  --primaryColor: #e1f1ef6c;
  --secondaryColor: #ffffff6c;
  --boxShadowColor: 10px 10px 20px rgba(0, 0, 0, 0.4);
  --extraColor: #562eff;
}

/* -------------
    header
------------- */
header {
  width: 100%;
  margin: 0 auto;
  height: 94px;
  padding: 0 40px;
  box-shadow: var(--boxShadowColor);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--extraColor);
  font-family: 'Roboto', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 51px;
  margin-right: 15px;
  background-color: var(--extraColor);
  border-radius: 5px;
}

.logo span {
  font-size: 24px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  font-size: 16px;
  margin-right: 35px;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

nav ul li:hover{
  color: var(--backgroundColor);
}

nav ul li img {
  width: 51px;
  height: 51px;
}

/* ----------------------
    Top Players Styles
----------------------- */
.topPlayers {
  margin-bottom: 30px;
}

.sectionTitle {
  font-size: 24px;
  margin-bottom: 18px;
  border-left: 3px solid var(--extraColor);
  padding-left: 6px;
  line-height: 0.8;
}

.playerCard {
  display: flex;
  align-items: center;
  transition: 200ms ease-in-out;
  border: 1px solid;
  border-radius: 10px;
}

.playerCard:hover {
  box-shadow: var(--boxShadowColor);
}

.playerCard img {
  width: 56px;
  height: 56px;
  margin-right: 18px;
}

.playerName {
  font-size: 18px;
}

/*-------------------
 top blog styles
 ----------------- */
.blogsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.blogs {
  margin-top: 30px;
}

.blogCard {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
  transition: 250ms ease-in-out;
}

.blogCard:hover {
  box-shadow: var(--boxShadowColor);
}

.blogImg img {
  width: 177px;
  height: 177px;
}

.blogInfo {
  margin-left: 16px;
}

.blogInfo .blogName {
  margin-bottom: 6px;
  font-size: 20px;
}

.blogInfo P {
  font-size: 16px;
  color: var(--secondaryColor);
}

.blogInfo P a {
  text-decoration: none;
  margin-left: 6px;
  color: var(--extraColor);
}

/* -----------------
   course styles
------------------- */
.courseGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
}

.courseCard {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.courseImg img {
  width: 224px;
  height: 104px;
}

.courseInfo h3 {
  font-size: 20px;
  margin-bottom: 4px;
}

.courseInfo p {
  font-size: 14px;
  color: orchid;
  margin-bottom: 19px;
}

.courseDetail {
  display: flex;
  justify-content: space-between;
}

.starRating img {
  width: 12px;
  height: 11px;
  margin-right: 4px;
}

.courseDuration {
  display: flex;
  align-items: center;
  color: #ff4a60;
  border-radius: 20px;
  background-color: var(--backgroundColor);
  padding: 2px 5px;
}

.courseDuration img {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}


/* -----------
    MEDIA QURIEES
----------- */

/* mobile devices */
@media only screen and (max-width: 600px){

    /* ---header----- */
  header {
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 1rem 0;
  }

  .logo{
      margin-bottom: 20px;
      border: 1px solid ;
      padding: 5px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li{
      margin-bottom: 10px;
  }


  /* ----top players---- */
  .container{
      width: 100%;
  }

  .playersGrid{
      grid-template-columns: 1fr;
  }

  .playerCard{
      width: 100%;
  }

  /* ----top blog---- */
  .blogsGrid{
      grid-template-columns: 1fr;
  }

  /* ----courses----- */
  .courseGrid{
      grid-template-columns: 1fr;
  }
  .courseCard{
      border: 1px solid;
      margin-bottom: 30px;
  }
}

/* ------------
    tablet devices
-------------- */
